.root {
  position: relative;
  width: 34px;
  height: 31px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0003, #fff;
}
.ellipse279 {
  position: absolute;
  left: -10px;
  top: -9px;
  width: 53px;
  height: 50px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle13 {
  position: absolute;
  left: -1px;
  top: -2px;
  width: 35px;
  height: 35px;
  background-image: url("../../../../public/assets/trashIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
