.group2.group2 {
  z-index: 0;
}
.category.category {
  z-index: 2;
  display: flex;
}
.rectangle8.rectangle8 {
  background-image:/* webpackIgnore: true */ url("assets/rectangle82.png");
}
.group22.group22 {
  z-index: 0;
}
.unnamed.unnamed {
  z-index: 0;
}
.group23.group23 {
  z-index: 1;
}
.unnamed2.unnamed2 {
  z-index: 0;
}
.root {
  width: 285px;
  height: 278px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 11px 16px;
  outline: solid 1px #0000001a;
  outline-offset: -1px;
  border-radius: 45px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
